* {
    text-align:center;
    font-family:Century Gothic;
}

body {
    margin:0;
    padding:0;
}

.card {
    border-style:solid;
    margin:2%;
    width:300px;
    height:470px;
    background-size:cover;
    transform-style:preserve-3d;
    transition:all 0.5s ease;
    border-radius:20px;
    box-shadow:0 5px 18px rgba(0, 0, 0, 0.6);
    display:inline-grid;


}

.card:hover {
    border-color:red;
    cursor:pointer;
}

.card h1 {
    color:white;
    text-shadow: 2px 2px red;
    font-size:40px;
}

.card p {
    font-size:16px;
    font-weight:bold;
    color:white;
    width:270px;
    margin:auto;
    text-shadow: 1.5px 1.5px red;
    padding:5px;    
}

.front {
    transform:rotateX(0deg);
    backface-visibility:hidden;
}

.back {
    backface-visibility:hidden;
    transform:rotateY(180deg);
    overflow-y:auto;
}

.flipCard {
    transform:rotateY(180deg);
}

input[type=submit] {
    background-color: black;
    border:none;
    color: white;
    padding: 10px 30px;
    text-decoration:none;
    margin:10px 2px;
    cursor:pointer;
    font-weight:bold;
    font-size:20px;
    display:inline-grid;
    transition-duration:0.2s;
}

input[type=text] {
    height:40px;
    width:50%;
    font-size:1.2rem;
    font-weight:bold;
    text-align:left;
}

#header h1{
    color:white;
    font-size:400%;
    background-color: black;
    padding:20px;
    margin:0;
}

button {
    background-color: black;
    border:none;
    color: white;
    padding: 10px 30px;
    text-decoration:none;
    cursor:pointer;
    font-weight:bold;
    font-size:20px;
    transition-duration:0.2s

}

button:hover,
input[type=submit]:hover {
    background-color:red;
}