* {
    text-align:center;
}

.card {
    background-color: rgb(213, 67, 130);
    margin-left:28px;
    margin-bottom:20px;
    padding:20px;
    width:300px;
    height:400px;
    float:left;
}

#gallery {
    background-color: rgb(230, 141, 81);
}