* {
    text-align:center;
}

.card {
    border-style:solid;
    margin-left:28px;
    margin-bottom:20px;
    margin-top:20px;
    padding:20px;
    width:300px;
    height:400px;
    float:left;
    background-size:cover;
    transform-style:preserve-3d;
    transition:all 0.8s ease;
    border-radius:20px;
    padding:50px, 0;
}

.card h1 {
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family:Century Gothic;
    font-size:50px;
}

.card p {
    font-size:16px;
    font-family:Century Gothic;
}

.front {
    backface-visibility:hidden;
}

.back {
    backface-visibility:hidden;
    transform:rotateY(180deg);
}

.flipCard {
    transform:rotateY(180deg);
}